{% extends "base.html" %}
{% load materializecss %}
{% block content %}
<div class="text-center mb-4 font-weight-bold">
    <span >Liste des groupes de compétences</span>
	<a href="{% url 'admin:add_ref' %}" class="btn-floating  btn-small waves-effect waves-light red float-right mr-3 mt-2 mb-2" data-target='dropdown4'><i class="material-icons">add</i></a>
</div>
<div class="row">
    {% for ref in ref %}
    <div class="col s4">
        <ul class="collapsible">
            <li >
                <div class="collapsible-header">
                    <div class="float-left">
                        <div><span>{{ ref.libelle }}</span></div>
                    </div>
                    <div class="float-right">
                        <a href="{% url 'admin:update_ref' ref.id %}" class="float-right"> <i class="material-icons">edit</i> </a>
                        <a href=" {% url 'admin:detail_ref' ref.id %} " class="float-right"> <i class="material-icons">details</i> </a>
                    </div>
                </div>
            </li>
            <li class="active">
                <div class="collapsible-header">Presentation</div>
                <div class="collapsible-body"><span> {{ ref.presentation }} </span></div>
            </li>
            <li>
                <div class="collapsible-header">Critere d'admission</div>
                <div class="collapsible-body"><span> {{ ref.critereAdmission }} </span></div>
            </li>
            <li>
                <div class="collapsible-header">Critere d'évaluation</div>
                <div class="collapsible-body"><span> {{ ref.critereEvaluation }} </span></div>
            </li>
            <li>
                <div class="collapsible-header">Programme</div>
                <div class="collapsible-body"><span> {{ ref.programme }} </span></div>
            </li>
            <li>
                <div class="collapsible-header">Groupe de Competence</div>
                <div class="collapsible-body">
                    <ul class="collection">
                        {% for grp in ref.groupeCompetences.all %}
                            <li class="collection-item"> {{grp.libelle}} </li>
                        {% endfor %}
                    </ul>
                    
                </div>
            </li>

            <!-- <li>
                <div class="collapsible-header">Compétences</div>
                <div class="collapsible-body">
                    <ul class="collection">

                        {% for competence in  ref.competences.all %}
                        <li class="collection-item">
                            {{ competence.libelle}}
                        </li>
                       
                          
                        {% endfor %}
                    </ul>
                   
                </div>
            </li> -->
        </ul>
    </div>
    {% endfor %}
</div>
{% endblock content %}